@page "/users"
<h3>Users</h3>
<MudDataGrid T="UserDTO" MultiSelection="true" Items="@UsersList">
    <Columns>
        <SelectColumn T="UserDTO" />
        <PropertyColumn Property="x => x.Name" Title="Name" Sortable="true" Filterable="true" />                        
    </Columns>
    <PagerContent>
        <MudDataGridPager T="UserDTO" />
    </PagerContent>
</MudDataGrid>


